.fourthSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: white;
  transition: all 0.35s ease-in-out;

  .fourthSectionHeader {
    font-size: 13.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: all 0.35s ease-in-out;

    .fourthSectionTitle {
      color: var(--primary-color);
      transition: all 0.35s ease-in-out;
    }

    .fourthSectionLink {
      color: yellowgreen;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      gap: 3.5px;
      transition: all 0.35s ease-in-out;

      &:hover {
        color: #f4ad16;
        text-decoration: underline;
        margin-left: 7px;
        gap: 0px;
        transform: scale(1.1);
        transition: all 0.35s ease-in-out;
      }

      .fourthSectionLinkArrow {
        font-size: 20px;
        transition: all 0.35s ease-in-out;

        .arrowIcon {
          display: block;
          transition: all 0.35s ease-in-out;
        }
      }
    }
  }

  .fourthSectionCarousel {
    width: 70%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    padding-inline: 0;
    transition: all 0.35s ease-in-out;

    .embla__container {
      display: flex;
      transition: all 0.35s ease-in-out;
    }

    .embla__slide {
      flex: 0 0 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.35s ease-in-out;
    }

    .fourthSectionContent {
      width: 100vw;
      max-width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 70px;
      padding: 0 135px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      margin: 0 auto 0;
      transition: all 0.35s ease-in-out;

      .fourthSectionImage {
        flex-shrink: 0;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.35s ease-in-out;

        &:hover {
          transform: scale(1.2) rotate(-7deg);
          transition: all 0.35s ease-in-out;
        }

        .greenMachine {
          width: 555px;
          height: 555px;
          object-fit: contain;
          transition: all 0.35s ease-in-out;
        }
      }

      .fourthSectionText {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        transition: all 0.35s ease-in-out;

        .fourthSectionTextTitle {
          font-size: 25px;
          cursor: grab;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          color: var(--primary-color);
          transition: all 0.35s ease-in-out;
        }

        .fourthSectionTextPrice {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          margin-block: 13.5px 12px;
          cursor: grab;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          transition: all 0.35s ease-in-out;

          .fourthSectionTextPriceNew {
            font-size: 17px;
            font-weight: 555;
            color: red;
            cursor: grab;
            transition: all 0.35s ease-in-out;
          }

          .fourthSectionTextPriceOld {
            font-size: 15.5px;
            font-weight: 500;
            text-decoration: line-through;
            color: #999;
            cursor: grab;
            transition: all 0.35s ease-in-out;
          }
        }

        .fourthSectionTextStatus {
          font-size: 13.5px;
          font-weight: 500;
          margin-block: 0px 12px;
          color: green;
          cursor: grab;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          transition: all 0.35s ease-in-out;
        }

        .fourthSectionTextDescription {
          width: 100%;
          font-size: 13.5px;
          font-weight: 500;
          margin-block: 0px 13.5px;
          line-height: 20px;
          color: #999;
          cursor: grab;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          transition: all 0.35s ease-in-out;

          .longText {
            max-height: 0px;
            overflow: hidden;
            display: inline-block;
            transition: max-height 1.23s ease-in-out;
          }

          .expanded {
            max-height: 200px;
            transition: max-height 1.35s ease-in-out;
          }

          .readMore {
            color: var(--primary-color);
            font-size: 13.5px;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            margin-left: 7px;
            outline: none;
            border: none;
            cursor: pointer;
            background: none;
            transition: all 0.35s ease-in-out;

            &:hover {
              color: var(--primary-color);
              text-decoration: underline;
              margin-left: 7px;
              transform: scale(1.1);
              transition: all 0.35s ease-in-out;
            }
          }
        }
      }
    }

    .customArrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--primary-color);
      color: white;
      border: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.35s ease-in-out;
      z-index: 10;

      &.prev {
        left: 7px;
      }

      &.next {
        right: 7px;
      }

      &:hover {
        background-color: #f4ad16;
      }
    }

    &:hover .customArrow {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .fourthSection {
    .fourthSectionCarousel {
      padding-inline: 70px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .fourthSection {
    .fourthSectionCarousel {
      padding-inline: 40px;
    }
    .fourthSectionContent {
      flex-direction: row;
      gap: 20px;
      padding-inline: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .fourthSection {
    .fourthSectionCarousel {
      padding-inline: 20px;
    }
    .fourthSectionContent {
      flex-direction: column;
      gap: 20px;
      margin-top: 35px;
      padding-inline: 0;

      .fourthSectionImage {
        .greenMachine {
          width: 450px;
          height: 450px;
        }
      }

      .fourthSectionText {
        align-items: center;
        .fourthSectionTextDescription {
          width: 500px;
        }
      }
    }
    .customArrow {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .fourthSection {
    .fourthSectionContent {
      margin-top: 13.5px;
      .fourthSectionImage {
        .greenMachine {
          width: 350px;
          height: 350px;
        }
      }
      .fourthSectionText {
        .fourthSectionTextDescription {
          width: 350px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .fourthSection {
    .fourthSectionContent {
      margin-top: 0px;
      gap: 0px;
      .fourthSectionImage {
        .greenMachine {
          width: 200px;
          height: 200px;
        }
      }
      .fourthSectionText {
        .fourthSectionTextPrice {
          margin-block: 0px 2px;
        }
        .fourthSectionTextDescription {
          width: 350px;
          margin-block: 0px;
        }
        .fourthSectionTextStatus {
          margin-block: 0px;
        }
      }
    }
  }
}
.embla__slide {
  flex: 0 0 100%;
}
