.badge {
  overflow: hidden;
  padding: 7px 0;
  background-color: white;
  white-space: nowrap;
  position: relative;
  transition: all 0.35s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    z-index: 2;
    transition: all 0.35s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    z-index: 2;
    transition: all 0.35s ease-in-out;
  }

  &:hover {
    .logosSlide {
      animation-play-state: paused;
      transition: all 0.35s ease-in-out;
    }
  }

  .logosSlide {
    display: inline-block;
    animation: slide 13.5s linear infinite;
    transition: all 0.35s ease-in-out;

    .logoSlideContainer {
      display: flex;
      gap: 13.5px;
      color: grey;
      font-size: 13.5px;
      margin: 0 7px;
      transition: all 0.35s ease-in-out;

      .logoSlideItem {
        display: flex;
        gap: 7px;
        transition: all 0.35s ease-in-out;
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
