.seventhSection {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f5f4;
  overflow: hidden;

  .seventhSectionContent {
    width: 100%;
    height: 100%;
    display: flex;

    .seventhSectionBG {
      flex: 1;
      height: 100%;
      overflow: hidden;

      .greenImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center; // crop from left → right
        transition: all 0.35s ease-in-out;
      }
    }

    .seventhSectionReview {
      flex: 1;
      max-width: 33%;
      min-width: 420px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 35px;
      background: transparent;
      transition: all 0.35s ease-in-out;
    }
  }
}

@media (max-width: 1300px) {
  .seventhSection {
    height: 70vh;

    .seventhSectionContent {
      .rightBG {
        align-self: flex-end;
      }
      .seventhSectionBG {
        .greenImg {
          object-fit: contain;
          transform: scale(1);
        }

        .greenBGLeft {
          object-position: left top;
        }

        .greenBGRight {
          object-position: right bottom;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .seventhSection {
    .seventhSectionContent {
      .seventhSectionBG {
        display: none;
      }

      .seventhSectionReview {
        max-width: 100%;
        width: 100%;
        background: #f7f5f4;
      }
    }
  }
}
