.slickWrapper {
  max-width: 1500px;
  width: 100%;
  padding: 0 35px;
  position: relative;
  transition: all 0.35s ease-in-out;

  .slickCard {
    width: 100%;
    padding: 55px 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    .slickContent {
      width: 100%;
      text-align: center;
      position: relative;
      transition: all 0.35s ease-in-out;

      .slickTop {
        position: relative;
        transition: all 0.35s ease-in-out;

        .slickStatus {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 3.5px 13.5px;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          border-radius: 7px 0 7px 0;
          transition: all 0.35s ease-in-out;
        }

        .slickHeart {
          position: absolute;
          top: 0px;
          right: 0px;
          padding: 12px 12px;
          color: var(--primary-color);
          font-size: 25px;
          background-color: unset;
          border: none;
          outline: none;
          cursor: pointer;
          opacity: 0.35;
          transition: all 0.35s ease-in-out;

          &:hover {
            opacity: 0.7;
            transform: scale(1.1);
            transition: all 0.35s ease-in-out;
          }
        }

        .slickCardImage {
          width: 100%;
          height: 222px;
          border-radius: 7px;
          z-index: -10;
          border: 1px solid lightgray;
          background-color: whitesmoke;
          transition: all 0.35s ease-in-out;

          .slickImage {
            width: 100%;
            height: 200px;
            padding: 35px;
            object-fit: contain;
            transition: all 0.35s ease-in-out;

            &:hover {
              transform: scale(1.2) rotate(21deg);
              padding: 0;
              transition: all 0.35s ease-in-out;
            }
          }
        }

        .slickCardContent {
          height: 120px;
          padding: 20px;
          transition: all 0.35s ease-in-out;

          .slickCardTitle {
            font-size: 15px;
            font-weight: bolder;
            color: var(--primary-color);
            margin-block: 3.5px;
            transition: all 0.35s ease-in-out;
          }
        }
      }

      .slickCardBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;
        transition: all 0.35s ease-in-out;

        .slickCardPrice {
          font-size: 17px;
          font-weight: 555;
          display: flex;
          align-items: center;
          gap: 7px;
          transition: all 0.35s ease-in-out;

          .slickOriginal {
            text-decoration: line-through;
            color: #999;
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
  }
}

// .dot {
//   list-style: none;
//   color: transparent;
//   background-color: transparent;
//   cursor: pointer;
//   transition: all 0.35s ease-in-out;

//   &:hover {
//     transform: scale(2);
//     color: #f4ad16;
//     transition: all 0.35s ease-in-out;
//   }

//   &:focus {
//     transform: scale(2);
//     color: #f4ad16;
//     transition: all 0.35s ease-in-out;
//   }
// }

// .slick-arrow {
//   &:hover {
//     transform: scale(1.35) translateY(-30%);
//     color: #f4ad16;
//     transition: all 0.35s ease-in-out;
//   }
// }

// ul {
//   list-style: none;
//   color: transparent;
//   background-color: transparent;
//   transition: all 0.35s ease-in-out;
// }

// li {
//   list-style: none;
//   color: transparent;
//   background-color: transparent;
//   transition: all 0.35s ease-in-out;
// }

// button {
//   list-style: none;
//   color: transparent;
//   background-color: transparent;
//   transition: all 0.35s ease-in-out;
// }

// i {
//   list-style: none;
//   color: transparent;
//   background-color: transparent;
//   transition: all 0.35s ease-in-out;
// }

.slick-prev,
.slick-next {
  &:hover {
    transform: scale(1.35) translateY(-30%) !important;
    color: #f4ad16 !important;
    transition: all 0.35s ease-in-out !important;
  }
}

.slick-prev {
  left: -12px;
}

.slick-next {
  right: -12px;
}

.slick-dots {
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer;
      color: var(--primary-color);
      border: 1px solid currentColor;
      background: rgba(255, 255, 255, 0.35);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35),
        inset 0 2px 4px rgba(0, 0, 0, 0.35),
        inset 0 -7px 13.5px 3.5px rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(3.5px);
      transition: all 0.35s ease-in-out;

      &:before {
        font-size: 8px;
        line-height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: attr(data-index);
        color: var(--primary-color);
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
      }
    }

    &.slick-active button {
      background-color: yellowgreen;
      transform: scale(1.2);
      &:before {
        opacity: 1;
      }
    }
  }
}
